        #shizhong{
            margin-left: auto;
            margin-right: auto;
            width: 236px;
            height: 264px;
            background-color: pink;
            overflow: hidden;
            margin-top: 50px;
        }
        h1{
            color: purple;
            text-align: center;
            height: 72px;
            line-height: 72px;
            font-size: 30px;
            margin: 0px;
        }
        h2{
            margin: 0px;
            text-align: center;
        }
        #rq{
            font-size: 120px;
            color: #000;
            height: 140px;
            line-height: 140px;
        }
        h3{
            line-height: 24px;
            font-size: 20px;
            color: #666;
        }
        #yf{
            margin-right: 20px;
        }
        #nf{
            margin-left: 20px;
        }